/* styles.css */
header, nav, .content {
    text-align: left;
}

header{
	background-image: linear-gradient(rgba(240, 159, 159, 0.5),rgba(243, 240, 78, 0.5),rgba(153, 200, 245, 0.5)), url(../C-WEE\ WEBSITE\ FOR\ STARTUP/Seaweed.png);
	height: 100vh;
	background-size: cover;
	background-position: center;
	min-height: 100px;
}

.title{
	position: inherit;
	top: 46%;
	left: 50%;
	transform: translate(-50%,-50%);
}

nav a{
    text-decoration: none;
    color: #ddd;
    padding: 14px 20px;
    display: inline-block;
}

nav a:hover{
    background-color: #ddd;
    color: #ddd;
}

.content{
    margin: auto;
    margin-top: 50px;
}

img{
    display: block;
    margin: -13px;
    margin-top: 10px;
    max-width: 100%;
}